*{
  margin: 0;
}



.flexOne{
  display: flex;
  flex-wrap: wrap;
  background-color: cornflowerblue;
  width: 100%;
  flex-direction: column;
}

.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.item{
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.one{
  background-color: cyan;
}

.two{
  background-color: magenta;
}
.three{
  background-color: yellow;
}

@media screen and (min-width: 700px) {
  .flexOne{
    flex-direction: row;
    height: 250px;
  }

  .one{
    flex-grow: 2;
  }



  .two, .three{
    height: 50%
  }
}